* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #AF85F4;
}
h1 {
    text-align: center;
}

.main {
    min-width: 650px;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


/* Web Banner Setup */
.web-banner {
    background-color: #414BB2;
    text-align: center;
    height: 100px;
}

.bannerLogo {
    width: 100px;
    height: 100px;
}

.banner-title {
    font-size: 50px;
    position: relative;
    top: -30px;
    left: 10px;
}

.homeLink {
    color: black;
    text-decoration: none;
}

/* Homepage */
.planned-event {
    display: inline-block;
    height: 200px;
    top: 120px;
}
.search-form {
    position: relative;
    width: 300px;
    height: 30px;
    display: inherit;
    margin-right: 50px;
}
.search-bar {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.search-form img {
    position: absolute;
    width: 20px;
    top: 9px;
    right: 10px;
    margin: 0;
}
.plan-event-btn {
    background-color: #414BB2;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    padding: 10px 16px;
    font-size: 14px;
    text-align: center;
}
.plan-event-btn:hover,
.plan-event-btn:focus {
    background-color: #21287e;
}

.img-btn:hover {
    -webkit-filter: invert(0.3);
    filter: invert(0.3);
    cursor: pointer;
}

.display-event{
    position: relative;
    height: 20px;
}

/* Add Custom Event Page Setup */
#event-form {
    background-color: #AF85F4;
}

.header {
    font-size: 20px;
    text-align: center;
    border-color: #414BB2;
}

#header_img {
    font-size: 30px;
    text-align: center;
    background-color: #414BB2;
}
.eventimg {
    display: block;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 300px;
    object-fit: fill;
    margin-bottom: 20px;
}

#select_img {
    font-size: 20px;
    text-align: center;
}
.eventimg1 {

    float: right;
    width: 100%;
    max-width: 30vw;
    max-height: 40vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.eventimg2 {
    float: left;
    width: 100%;
    max-width: 30vw;
    max-height: 40vh;
}

#event_details {
    font-size: 30px;
    text-align: center;
    margin-top: 2cm;
    margin-bottom: 1cm;
    background-color: #414BB2;
}
.add-event-btns {
    background-color: #414BB2;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    padding: 10px 16px;
    font-size: 14px;
    text-align: center;
}
.add-event-btns:hover,
.add-event-btns:focus {
    background-color: #21287e;
}

/* Misc */
.wrapper {
    display: grid;
    grid-template-areas: 
        'header header header header header'
        'main main main icon1 icon2'
        'desc desc desc icon1 icon2';
    padding: 10px;
    justify-content: space-between;
    width: 50vmax;
    height: 20vmax;
}
.box {
    border: 1px solid black;
}
.image {
    background-color: lightgray;
    display: block;
    margin: 0 auto;
    grid-area: header;
}

/* style for the pop-up window */
.popWin {
   
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.0);
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
     
}

.window-content {
    width: 500px;
    height: 300px;
    background-color: rgb(33, 4, 138);
    border-radius: 4px;
    /* justify-content: center; */
    position: fixed;
    font-size: 60;
    
}

#notice {

   justify-content: center;
   text-align: center;
   color: white;
} 

#ok {

    justify-content: center;
    text-align: center;
    background-color: white;
    width: 15%;
}

/* end for the style of pop-up window */

#specific_event_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.event_grid_item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(12, 0, 123, 0.8);*/
    font-size: 30px;
    text-align: center;
}